<div class="container subnav-container">
	<div class="inverse-subnav" id="subnav">
		<form method="post" action="routes.Application.addActivity()" method="post">
			<input type="hidden" name="title" value="neue Activity"/>
			<input type="hidden" name="description" value="neue Activity beschreibung"/>
			<input type="hidden" name="path" value="assets/components/thumbnails/images/1.jpg"/>
		<ul class="nav nav-pills">
			<li ng-repeat="menupoint in menupoints" class="pull-left"><a href="{{menupoint.url}}">{{menupoint.name}}</a></li>
			<li>
				<input type="submit" value="neue Activity"/>
			</li>
			<li class="navbar-search pull-right">
				<input type="text" class="search-query " placeholder="Suche im Partyprogramm!" ng-model="narrowprogram">
			</li>
		</ul>
		</form>
	</div>
</div>