
<div class="row-1">
	<section ng-controller="ActivityListController">
			<div class="container subnav-container">
				<div subnav menupoints='subnav.menupoints' isotope-item-filter='isotopeItemFilter'>
						<div class="inverse-subnav navbar" id="subnav">
							<div class="input-append navbar-search">
								<div class="btn-group">
									<button class="btn dropdown-toggle" data-toggle="dropdown">
										Filter <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li ng-repeat="menupoint in menupoints" class="pull-left"><a href="{{menupoint.url}}">{{menupoint.name}}</a></li>
									</ul>
								</div>
								<input type="text" class="search-query" placeholder="Suche im Partyprogramm!" ng-model="isotopeItemFilter">
							</div>
						</div>
				</div>
			</div>
		<div class="row-fuid">
			<div class="span12">
				<div isotope='activities' item-asc='sortAsc' item-filter='isotopeItemFilter'></div>
			</div>
		</div>
	</section>
</div>