
<div class="row-1">
	<section ng-controller="ActivityListController">
		<div class="container subnav-container-elem">
			<div subnav menupoints='subnav.menupoints' isotope-item-filter='isotopeItemFilter'>
				<div class="subnav" id="subnav">
					<ul class="nav nav-pills">
						<li class="subnav-search">
								<!--<ul class="dropdown-menu">
									<li ng-repeat="menupoint in menupoints"><a href="{{menupoint.url}}">{{menupoint.name}}</a></li>
								</ul>-->
								<a href="#/newActivity">Neue Activity erstellen!</a>
						</li>
						<li>
							<input type="text" class="search-query input-medium" placeholder="Suche im Partyprogramm!" ng-model="isotopeItemFilter">
						</li>
					</ul>
				</div>
			</div>
		</div>
			<div playerelement class="audio-wrapper clear-both"></div>
		<div class="row-fuid">
			<div class="span12">
				<div isotope='activities' item-asc='sortAsc' item-filter='isotopeItemFilter'></div>
			</div>
		</div>
	</section>
</div>