
<div class="row-1">
	<section ng-controller="ActivityListController">
		<div class="container subnav-container">
			<div subnav menupoints='subnav.menupoints' isotope-item-filter='isotopeItemFilter'>
				<div class="inverse-subnav navbar" id="subnav">
					<div class="input-append navbar-search">
						<div class="btn-group">
							<button class="btn dropdown-toggle" data-toggle="dropdown">
								Filter <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li ng-repeat="menupoint in menupoints"><a href="{{menupoint.url}}">{{menupoint.name}}</a></li>
							</ul>
						</div>
						<a href="#/newActivity" class="btn">Neue Activity!</a>
					</div>
					<input type="text" class="search-query input-medium" placeholder="Suche im Partyprogramm!" ng-model="isotopeItemFilter">
				</div>
					<div class="clear-both">
						<div playerelement class="audio-wrapper clear-both"></div>
					</div>
			</div>
		</div>
		<div class="row-fuid">
			<div class="span12" id="itemframe">
				<div isotope='activities' item-asc='sortAsc' item-filter='isotopeItemFilter'></div>
			</div>
		</div>
	</section>
</div>