@(message: String) @main("NoiseXperience2.0"){

<script src="@routes.Assets.at("components/thumbnailgrid/javascript/grid.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("components/thumbnailgrid/javascript/directives.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("components/subnav/subnav.directive.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("components/slider/slider.directive.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("components/playerelement/playerelement.directive.js")" type="text/javascript"></script>

<div ng-controller="IndexPageController">
	<div>
		<div slider slides="slides" id="ei-slider" class="ei-slider"></div>
	</div>
<div class="bg-content">
	<div class="container">
		<div ng-view></div>
	</div>
</div>
<!--footer>
		<div class="container clearfix">
			<ul class="list-social pull-right">
				<li><a href="#" class="icon-1"></a></li>
				<li><a href="#" class="icon-2"></a></li>
				<li><a href="#" class="icon-3"></a></li>
				<li><a href="#" class="icon-4"></a></li>
			</ul>
		</div>
</footer-->
</div>

<!-- slider -->
<script src="@routes.Assets.at("lib/jquery/jquery.eislideshow.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/jquery/jquery.easing.1.3.js")" type="text/javascript"></script>
<!-- thumbnails -->
<script src="@routes.Assets.at("lib/jquery/jquery.masonry.min.js")" type="text/javascript"></script>
<!-- audioPlayer -->
<script src="@routes.Assets.at("lib/jquery/audioplayer.js")" type="text/javascript"></script>
}